<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Chiang Rai trip Jaae and David</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Londrina+Shadow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- to be removed: -->
    <link rel="stylesheet" href="built/css/styles.css" />
    
</head>
<body>
    <div id="react"></div>
    
    <!-- to be removed: -->
    <script src="built/bundle.js"></script>
</body>
</html>
