@media (max-width: 767px) {
  .zoom-effect-container {
    position: relative;
    width: 280px;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .zoom-effect-container {
    width: 300px;
    height: 300px;
  }
}

.day h1 {
    background-color: #fff;
    color: #000;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.zoom-effect-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.image-card {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.activity-row {
  margin-top: 20px;
}
