/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar-default {
    opacity: 0.7;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
.navbar {
    margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 771px) {
    .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}
