/*@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";*/

@media (max-width: 767px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
  }
  .bgimg-1 {
      background-image: url("https://www.daveyx.ga/chiangrai-trip/img/th-flag.jpg");
      min-height: 300px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  	position: relative;
  	opacity: 0.8;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-bottom: 20px;
  }
  .bgimg-1 {
      background-image: url("https://www.daveyx.ga/chiangrai-trip/img/th-flag.jpg");
      min-height: 300px;
  }

}

div {
  text-align: center;
}

.home h1 {
  font-weight: 800;
}

.home {
  color: white;
  padding: 20px;
}

.caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 70%;
    text-align: center;
    color: #000;
    background-color: lightslategray;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Londrina Shadow';
}

.border {
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
}
